* {
  margin: 0px;
  padding: 0px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  padding: 30px;
}

.head h2 {
  margin-right: auto;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
}